.Social .icons {
    position: relative;
    top: 10px;
}

.Social .main {
    display: block;
    width: 280px;
    height: auto;
    margin: 0 auto;
    border-radius: 5%;
    border: 4px solid #dfe3e7;
}

.Social a {
    line-height: 36px;
}