.Main {
    width: 880px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

.Main h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.Main h1 span {
    font-size: 40px;
    color: #4b4b4b;
}

.Main h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.Main h2 span {
    color: #4b4b4b;
    font-size: 24px;
}

.Main h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.Main a {
    color: #4b4b4b;
    text-decoration: none;
    font-style: italic;
}

.Main .pets-paw a::before{
    display: block;
    content: url(../../../public/icons/pets-paw_logo.svg);
}

.Main .chat a::before{
    content: url(../../../public/icons/chat.svg);
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    top: 8px;
    right: 5px;
}

.Main .pulse a::before {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: 8px;
    content: url(../../../public/icons/pulse.svg);
}

.Main .pizza a::before {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: 8px;
    right: 5px;
    content: url(../../../public/icons/pizza.svg);
}